metadata_dir = "{{ garage_meta_dir }}"
data_dir = "{{ garage_data_dir }}"
db_engine = "lmdb"
replication_factor = 1

rpc_secret = "{{ garage.rpc_secret }}"

[s3_api]
s3_region = "{{ garage_s3_region }}"
api_bind_addr = "0.0.0.0:3900"

[admin]
api_bind_addr = "127.0.0.1:3903"
