apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gen3
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "{{ argocd_repo_url }}"
    targetRevision: HEAD
    path: gitops/gen3
    helm:
      valueFiles:
        - values.yaml
        - values.fence.yaml
        - values.users.yaml
        - values.arborist.yaml
        - values.indexd.yaml
        - values.portal.yaml
        - values.peregrine.yaml
        - values.guppy.yaml
        - values.metadata.yaml
        - values.sheepdog.yaml
        - values.wts.yaml
        - values.pidgin.yaml
        - values.audit.yaml
        - values.hatchery.yaml
        - values.manifestservice.yaml
        - values.sower.yaml
      valuesObject:
        global:
          hostname: "{{ gen3.hostname }}"
          postgres:
            master:
              username: "{{ postgres.user }}"
              password: "{{ postgres.password }}"
              host: "{{ postgres.host_ip }}"
              port: "5432"
        gen3:
          fence:
            FENCE_CONFIG:
              OPENID_CONNECT:
                google:
                  client_id: "{{ google_client_id }}"
                  client_secret: "{{ google_client_secret }}"
              AWS_CREDENTIALS:
                "gen3":
                  aws_access_key_id: "{{ garage.access_key }}"
                  aws_secret_access_key: "{{ garage.secret_key }}"
              S3_BUCKETS:
                "{{ gen3.data_bucket_name }}":
                  cred: "gen3"
                  endpoint_url: "https://{{ s3.host_base }}"
              DATA_UPLOAD_BUCKET: "{{ gen3.data_bucket_name }}"
            usersync:
              usersync: true
              userYamlS3Path: "none"
          secrets:
            awsAccessKeyId: "{{ garage.access_key }}"
            awsSecretAccessKey: "{{ garage.secret_key }}"
          guppy:
            esEndpoint: "{{ postgres.host_ip }}:9200"
          revproxy:
            ingress:
              enabled: true
              className: "nginx"
              hosts:
                - host: "{{ gen3.hostname }}"
                  paths:
                    - path: /
                      pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: gen3
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
